@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-green: #00C853;
  --brand-purple: #6200EA;
}

@theme {
  --color-brand-green: var(--brand-green);
  --color-brand-purple: var(--brand-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
