@import "tailwindcss";

@theme {
  --color-brand-green: #00853E;
  --color-brand-green-hover: #006837;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}